{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="jumbotron">
      <h1 class="text-center">{{ post.title }}</h1>
        {% if post.author.id == request.user.id %}
            <a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'home:post_update' post.id %}" class="btn btn-info"> Update </a>
        {% endif %} <br/><br/>
        <p> <a href="{% url 'accounts:user_profile' post.author.id %}"> {{ post.author.username }} </a> - {{ post.updated|date:"Y-M"}} </p>
      <p> {{ post.body }} </p>
    </div>



{% endblock %}
